@model Patient


<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center mb-4">
                <img src="@Model.Image" alt="@Model.FullName" class="img-fluid" width="100%" >
            </div>
            <h2 class="text-primary">@Model.FullName</h2>
            <p class="text-muted">@Model.Email</p>
            <p class="text-muted">@Model.Phone</p>
        </div>
        <div class="col-md-8">
            <div class="card p-4">
                <h3 class="text-success">Diagnosis</h3>
                <p>@Model.Diagnosis</p>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <div class="card bg-info text-white p-4">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="text-white">@Model.Doctor.FullName</h2>
                        <p>Phone: @Model.Doctor.Phone</p>
                    </div>
                    <div class="col-md-4 text-right">
                        <img src="@Model.Doctor.Image" alt="" class="" height="150">
                    </div>
                </div>
            </div>
        </div>
</div>
