@model IEnumerable<Contact>

@{
    ViewData["Title"] = "Contacts";
}



<div class="container-fluid">
    <h1 class="mt-4">Contacts List</h1>

    <div class="card mb-4">
        <div class="card-body text-center bg-dark text-bg-dark">
            <p class="fw-bold text-bg-dark"><i>You can see all Contacts in this area...</i></p>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Contacts DataTable
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Title</th>
                        <th>Message</th>
                        <th>Created At</th>
                        <th>Action</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Contact in Model)
                    {
                        <tr>
                            <td>@Contact.Id</td>
                            <td>@Contact.FullName</td>
                            <td>@Contact.Email</td>
                            <td>@Contact.Phone</td>
                            <td>@Contact.Title</td>
                            <td>@Contact.Message</td>
                            
                            <td>@Contact.CreatedAt</td>
                            <td>
                                <form asp-action="Remove" asp-route-id="@Contact.Id" method="post" onsubmit="return confirmDelete(this);">
                                    <button type="submit" class="btn btn-danger" id="deleteButton"><i class="fas fa-trash"></i> Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function confirmDelete(formElement) {
        var deleteButton = formElement.querySelector('button');

        if (deleteButton.innerHTML === 'Sure?') {
            return true;
        } else {
            deleteButton.innerHTML = 'Sure?';
            return false;
        }
    }
</script>
