@model IEnumerable<PostComment>

@{
    ViewData["Title"] = "Users";
}


<div class="container-fluid">
    <h1 class="mt-4 ">Post Comments List</h1>
    <a class="btn btn-outline-success mt-2 ms-1 mb-2" asp-controller="PostComments" asp-action="Create">Create New Department</a>
    <div class="card mb-4">
        <div class="card-body text-center bg-dark text-bg-dark">

            <p class="fw-bold text-bg-dark"><i> You can see all post comments in this area...</i> </p>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Comment</th>                        
                        <th>
                            @Html.DisplayNameFor(PostComment => PostComment.IsActive)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var postComment in Model)
                    {
                        <tr>
                            <td>@postComment.Id</td>
                            <td>@postComment.Comment</td>
                            <td>
                                @Html.DisplayFor(PostComment => postComment.IsActive)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@postComment.Id">Edit</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@postComment.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


