@model IEnumerable<Post>

@{
    ViewData["Title"] = "Posts";
}


<div class="container-fluid">
    <h1 class="mt-4 ">Posts List</h1>
    <a class="btn btn-outline-success mt-2 ms-1 mb-2" asp-controller="Posts" asp-action="Create">Create New Post</a>
    <div class="card mb-4">
        <div class="card-body text-center bg-dark text-bg-dark">
            <p class="fw-bold text-bg-dark"><i> You can see all posts in this area...</i> </p>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Posts DataTable
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Comments</th>
                        <th>PostImage</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.Id</td>
                            <td>@post.Title</td>
                            <td>
                                @if (post.Content.Length > 100)
                                {
                                    <span>@post.Content.Substring(0, 100)...</span>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#contentModal_@post.Id">Read More</a>
                                    <div class="modal fade" id="contentModal_@post.Id" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="contentModalLabel">@post.Title</h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    @post.Content
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @post.Content
                                }
                            </td>
                            <td>@post.Comments?.Count</td>
                            <td>
                                <img src="/Images/@post.Image" alt="" class="img-fluid rounded-circle" style="max-height:75px;" />
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal_@post.Id">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@foreach (var posts in Model)
{
    <!-- Modal for Delete -->
    <div class="modal fade" id="deleteConfirmationModal_@posts.Id" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this Post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form asp-action="Remove" asp-route-id="@posts.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}