@model IEnumerable<Post>

@{
    ViewData["Title"] = "Posts";
}


<div class="container-fluid">
    <h1 class="mt-4 ">Department Posts List</h1>
    <a class="btn btn-outline-success mt-2 ms-1 mb-2" asp-controller="Posts" asp-action="Create">Create New Post</a>
    <div class="card mb-4">
        <div class="card-body text-center bg-dark text-bg-dark">

            <p class="fw-bold text-bg-dark"><i> You can see all posts in this area...</i> </p>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>Tittle</th>
                        <th>Content</th>
                        <th>Comments</th>
                        <th>PostImage</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.Id</td>
                            <td>@post.User</td>
                            <td>@post.Title</td>
                            <td>@post.Content</td>
                            <td>@post.Comments</td>
                            <td>@post.PostImage</td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="">Edit</a> |
                                <a class="btn btn-warning" asp-action="Detail" asp-route-id="">Details</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


