@model DoctorViewModel

<div class="row">
    <div class="col-md-6">
        <div class="card bg-primary text-white shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-8">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Name SURNAME
                        </div>
                        <div class="h5 mb-0 font-weight-bold">@Model.FullName</div>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fas fa-user fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-success text-white shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-8">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Email ADDRESS
                        </div>
                        <div class="h5 mb-0 font-weight-bold">@Model.Email</div>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fas fa-envelope fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md-6">
        <div class="card bg-info text-white shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-8">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Phone NUMBER
                        </div>
                        <div class="h5 mb-0 font-weight-bold">@Model.Phone</div>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fas fa-phone-alt fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-warning text-white shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-8">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Role
                        </div>
                        <div class="h5 mb-0 font-weight-bold">@Model.Role</div>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fas fa-user-shield fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card bg-primary text-white shadow h-100">
                <div class="card-body">
                    <p class="small">Patients under your care</p>
                    <p class="font-weight-bold">@Model.PatientCount</p>
                    <a asp-controller="Patients" class="btn btn-primary btn-block pt-4">Manage Patients</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card bg-success text-white shadow h-100">
                <div class="card-body">
                    <p class="small">Upcoming appointments</p>
                    <p class="font-weight-bold">@Model.AppointmentCount</p>
                    <a asp-controller="Appointments" class="btn btn-success btn-block pt-4">View Appointments</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-info text-white shadow h-100">
                <div class="card-body">
                    <p class="small ">Previously treated patients</p>
                    <p class="font-weight-bold">@Model.DischargedPatientCount</p>
                    <a asp-controller="DischargedPatients" class="btn btn-info btn-block p-4">Discharged Patients</a>
                </div>
            </div>
        </div>
    </div>
</div>

