@model IEnumerable<DepartmentPost>
@{
    ViewData["Title"] = "DepartmentPost";
}


<div class="container-fluid">
    <h1 class="mt-4 ">Department Posts List</h1>
    <a class="btn btn-outline-success mt-2 ms-1 mb-2" asp-controller="DepartmentPosts" asp-action="Create">Create New Department Post</a>
    <div class="card mb-4">
        <div class="card-body text-center bg-dark text-bg-dark">

            <p class="fw-bold text-bg-dark"><i> You can see all department posts in this area...</i> </p>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>DepartmentId</th>
                        <th>Departments</th>
                        <th>Post</th>
                        <th>PostId</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var departmentPost in Model)
                    {
                        <tr>
                            <td>@departmentPost.Id</td>
                            <td>@departmentPost.DepartmentId</td>
                            <td>@(departmentPost.Departments?.Name)</td>
                            <td>@departmentPost.PostId</td>
                            <td>@(departmentPost.Post?.Title)</td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@departmentPost.Id">Edit</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@departmentPost.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
