@model DepartmentPostViewModel



@foreach (DepartmentPost item in Model.Posts)
{
    <section class="section blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 mb-5">
                            <div class="single-blog-item">
                                @if (item.Post?.Image is null)
                                {
                                    <img src="~/HospitalTemplate/images/PatientRoom.png" alt="" class="img-fluid">
                                }
                                else
                                {
                                    <img src="@item.Post.Image" alt="" class="img-fluid" width="100%">

                                }

                                <div class="blog-item-content mt-5">
                                    <div class="blog-item-meta mb-3">
                                        <span class="text-color-2 text-capitalize mr-3"><i class="icofont-book-mark mr-2"></i> Equipment</span>
                                        <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>@item.Post?.CommentsCount</span>
                                        <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> @item.Post?.CreatedAt</span>
                                    </div>

                                    <h2 class="mb-4 text-md"><a asp-controller="Appointments" asp-action="Create" target="_blank">@item.Post?.Title</a></h2>


                                    <p class="lead mb-4 font-weight-normal text-black">
                                        @item.Post?.Content
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="comment-area mt-4 mb-5">
                                <h4 class="mb-4">@item.Post?.Comments?.Count Comments on Healthy environment... </h4>
                                <ul class="comment-tree list-unstyled">
                                    @if (item.Post.Comments is null)
                                    {
                                        <div class="h3"> There are no comments in here... Let's show us your first comment! </div>
                                    }
                                    else
                                    {
                                        @foreach (PostComment postComment in item.Post.Comments.OrderByDescending(x => x.CreatedAt))
                                        {

                                            @if (postComment.User is not null)
                                            {
                                                <li class="mb-5">
                                                    <div class="comment-area-box d-block d-sm-flex">
                                                        <div class="comment-thumb">
                                                            @* <img alt="" src="@postComment.User.Image" style="width: 70px"> *@
                                                            <img alt="" src="/HospitalTemplate/images/anonym.png" style="width: 70px">
                                                        </div>

                                                        <div class="block">
                                                            <div class="comment-info">
                                                                <h5 class="mb-1">@postComment.User.FullName</h5>
                                                                <span>@postComment.User.City</span>
                                                                <span class="date-comm">| Posted @postComment.CreatedAt</span>
                                                            </div>
                                                            <div class="comment-content mt-3">
                                                                <p>
                                                                    @postComment.Comment
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <div class="comment-area-box d-block d-sm-flex">
                                                        <div class="comment-thumb">
                                                            <img alt="" src="~/HospitalTemplate/images/anonym.png" style="width: 70px">
                                                        </div>

                                                        <div class="block">
                                                            <div class="comment-info">
                                                                <h5 class="mb-1">Anonymous</h5>
                                                                @*  <span>United Kingdom</span> *@
                                                                <span class="date-comm">| Posted @postComment.CreatedAt</span>
                                                            </div>



                                                            <div class="comment-content mt-3">
                                                                <p>
                                                                    @postComment.Comment
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }

                                        }
                                    }



                                </ul>
                            </div>
                        </div>



                    </div>
                </div>
                

            </div>
    </section>

    <hr class="mt-2 mb-2" />

}

<section class="section">
    <div class="container">
        <div class="col-lg-12">
            <form class="comment-form my-5" asp-controller="DepartmentPost" method="post" asp-action="Create" id="comment-form">

                <h4 class="mb-4">Write a comment</h4>
                <div class="row">

                    <div class="col-md-4">

                        <select id="postList" name="postId" class="form-control" asp-for="Comment.PostId">
                            @foreach (var item in Model.Posts)
                            {
                                <option value="@item.Post.Id">@item.Post.Title</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" type="text" asp-for="Comment.Comment" name="Comment" id="Comment" placeholder="Email:">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" type="text" asp-for="Comment.FullName" name="FullName" id="fullName" placeholder="Your Name:">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="Comment.Comment" class="form-label">Your Message</label>
                    <textarea id="Message" asp-for="Comment.Comment" placeholder="Talk here..." name="Message" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Comment.Comment" class="text-danger"></span>
                </div>


                <button class="btn btn-main-2 btn-round-full" type="submit" id="submit_contact" name="submit-contact">
                    Submit Message
                </button>
            </form>
        </div>
    </div>

</section>