@model IEnumerable<Image>

@{
    ViewData["Title"] = "Users";
}


<div class="container-fluid">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
            .
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var postImage in Model)
                    {
                        <tr>
                            <td>@postImage.Id</td>
                            <td>@postImage.ImagePath</td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@postImage.Id">Edit</a> |
                                <a class="btn btn-warning" asp-action="Detail" asp-route-id="@postImage.Id">Details</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@postImage.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


