@model IEnumerable<Page>

@{
    ViewData["Title"] = "Pages";
}


<div class="container-fluid">
    <h1 class="mt-4 ">Pages List</h1>
    <a class="btn btn-outline-success mt-2 ms-1 mb-2" asp-controller="Pages" asp-action="Create">Create New Department</a>
    <div class="card mb-4">
        <div class="card-body text-center bg-dark text-bg-dark">

            <p class="fw-bold text-bg-dark"><i> You can see all departments in this area...</i> </p>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>IsActive</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pages in Model)
                    {
                        <tr>
                            <td>@pages.Id</td>
                            <td>@pages.Title</td>
                            <td>@pages.Content</td>
                            <td>@pages.IsActive</td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@pages.Id">Edit</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@pages.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


